<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Logisim-evolution circuit file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.cburch.logisim.circ</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Logisim-evolution</string>
	<key>CFBundleIconFile</key>
	<string>Logisim-evolution.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.cburch.logisim</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Logisim</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.14.6.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.14.6.1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSHighResolutionCapable</key>
	<string>true</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2001--2018 Carl Burch, BFH, HEIG-VD, HEPIA, et al.</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<string>true</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Logisim-evolution circuit file</string>
			<key>UTTypeIdentifier</key>
			<string>com.cburch.logisim.circ</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>circ</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application-prs.cburch.logisim</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
